<!-- Sign up page -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Dynamic title -->
{% block head_title %}Iscriviti | {{ block.super }}{% endblock %}

<!-- Sign up form -->
{% block content %}
  <div class="row justify-content-center mt-4">
    <div class="col-6 text-center">
      <h2>Iscriviti a Agorà!</h2>
      <form method="POST" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-info" value="Crea account">
      </form>
    </div>
  </div>
{% endblock %}
