<!-- New discussion page -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Dynamic title -->
{% block head_title %}Nuova discussione | {{ block.super }}{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-4">
    <div class="col-lg-6 col-12">
      <h2>Crea nuova discussione in: {{ discussion_section }}</h2>
      <form method="POST" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-info" value="Crea">
      </form>
    </div>
  </div>
{% endblock %}
