<!-- Section page -->
{% extends 'base.html' %}

<!-- Dynamic title -->
{% block head_title %}{{ sezione.nome_sezione }} | {{ block.super }}{% endblock %}

{% block content %}
  <div class="card my-3">
    <div class="card-header">
      <h3>{{ sezione.nome_sezione }}</h3>
      <h6 class="card-text">{{ sezione.descrizione }}</h6>
    </div>
    <div class="card-body">
      <a class="btn btn-sm btn-info" href="{% url 'crea_discussione' pk=sezione.pk%}">Crea Discussione</a>
      <table class="table mt-3">
        <thead>
          <tr class="row">
            <th class="col-lg-6 col-4">Titolo</th>
            <th class="col-lg-2 col-3">Autore</th>
            <th class="col-lg-2 col-2">Post</th>
            <th class="col-lg-2 col-3">Ultimo post</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row">
            {% for discussione in discussioni %}
              <td class="col-lg-6 col-4">
                <a href="{{ discussione.get_absolute_url }}">{{ discussione.titolo }}</a>
              </td>
              <td class="col-lg-2 col-3">
                <a href="{% url 'user_profile' username=discussione.autore_discussione.username %}">{{ discussione.autore_discussione }}</a>
              </td>
              <td class="col-lg-2 col-2">{{ discussione.post_set.count }}</td>
              <td class="col-lg-2 col-3">{{ discussione.post_set.last.data_creazione|timesince }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
