<!-- Reset password confirmation page -->
{% extends 'base.html' %}

<!-- Dynamic title -->
{% block head_title %}Reset password | {{ block.super }}{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-4">
    <div class="col-6 text-center">
      <p>È stato inviato un link alla mail associata al tuo account per confermare la tua identità e procedere con il reset della password!</p>
      <p>Visita la tua casella di posta e segui il link allegato per procedere.</p>
    </div>
  </div>
{% endblock %}
