<!-- Change password page -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Dynamic title -->
{% block head_title %}Cambio password | {{ block.super }}{% endblock %}

<!-- Change password forms -->
{% block content %}
  <div class="row justify-content-center mt-4">
    <div class="col-6 text-center">
      <p>Inserisci la password attuale, per ragiorni di sicurezza, e poi la nuova password due volte, per verificare di averla scritta correttamente!</p>
      <form method="POST" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-info" value="Cambia password">
      </form>
    </div>
  </div>
{% endblock %}
