<!-- Reset password page -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Dynamic title -->
{% block head_title %}Reset password | {{ block.super }}{% endblock %}

<!-- Reset password forms -->
{% block content %}
  <div class="row justify-content-center mt-4">
    <div class="col-6 text-center">
      {% if validlink %}
        <p>Inserisci e conferma la nuova password:</p>
        <form method="POST" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" class="btn btn-info" value="Reset password">
        </form>
        {% else %}
          <h1>Errore.</h1>
          <p>Questo link non è più valido!</p>
        {% endif %}
    </div>
  </div>
{% endblock %}
