<!-- Homepage -->
{% extends 'base.html' %}

{% block content %}
  <!-- Create section visible only for staff users -->
  {% if request.user.is_staff %}
    <div class="card-body pl-0">
      <a class="btn btn-sm btn-danger" href="{% url 'crea_sezione' %}">Crea Sezione</a>
    </div>
  {% endif %}

  {% for section in sections %}
    <div class="card my-3">
      <!-- Section header -->
      <div class="card-header">
        <h5><a href="{{ section.get_absolute_url }}"><strong>{{ section.nome_sezione }}</strong></a></h5>
        <p class="mb-0">{{ section.descrizione }}</p>
      </div>

      <!-- Section body -->
      <div class="card-body">
        <div class="row">
          <!-- Section data -->
          <div class="col-lg-3">
            <img class="img-fluid rounded-lg" src="{{ section.logo_sezione.url }}" alt="logo della sezione">
            <p class="text-muted">Discussioni totali: {{ section.discussione_set.count }}<br>
            Messaggi totali: {{ section.get_number_of_posts_in_section }}</p>
          </div>
          <!-- Discussions data -->
          <div class="col-lg-9">
            <p>Ultime discussioni</p>
            <table class="table table-hover">
              <tbody>
                {% for discussion in section.get_last_discussions %}
                  <tr class="row">
                    <td class="col-lg-7 col-6">
                      <a href="{% url 'visualizza_discussione' pk=discussion.pk %}">{{ discussion.titolo }}</a>
                    </td>
                    <td class="col-lg-3 col-3">
                      <a href="{% url 'user_profile' username=discussion.autore_discussione.username %}">{{ discussion.autore_discussione.username }}</a>
                    </td>
                    <td class="col-lg-2 col-3">
                      Post: {{ discussion.post_set.count }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
